<h1>Homepage</h1>

<ul>
  <% @timeline.each do |t| %>
    <li>
      <b><%= $twitter.status(t.id).text %></b>
      <span><%= time_ago_in_words(t.created_at) %> ago</span><br /><br />
    </li>
  <% end %>
</ul>

<% if !current_user.nil? %>
    <p>Click The link below to send a tweet.</p>
    <%= link_to "Send a Tweet", new_tweet_path %>
<% else %>
    <p>You must log in to send a tweet.</p>
<% end %>
