body {
  background-color: #f1f1f1;
}

.container-tweets {
  margin-top: 15px;
}

blockquote.twitter-tweet {
  /*display: list-item;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  background-color: #fff;
  border-color: #f1f1f1;
  /* border-color: #eee #ddd #bbb;*/
  /*border-radius: 5px;*/
  border-style: solid;
  border-width: 1px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);*/
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 100%;
  margin-top: 0px;
  margin-left: 2px;
  margin-bottom: 0px;
  position: relative;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #292f33;
}

blockquote.twitter-tweet a {
  color: #BD0000;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

blockquote.twitter-tweet span {
  float: left;
  margin-top: 2px;
  margin-left: -8px;
  margin-right: 5px;
  margin-bottom: 50px;
}

#thumbnail img{
  max-width: 100%;
  /*height: 100px;*/
}

button.refresh-button{
  /*margin-top: -7.5px;*/
  cursor: pointer;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  top: 5px;
  display: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #BD0000;
  border-style: solid;
  border-color: #BD0000;
  border-width: 2px;
  background-color: #f1f1f1;
  border-radius: 7px;
  width: 150px;
  height: 35px;
}

button.refresh-button:hover {
  border-color: #f1f1f1;
  background-color:#BD0000;
  color: #fff;
}

.sign-out-button{
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #BD0000;
  border-style: solid;
  border-color: #BD0000;
  border-width: 2px;
  background-color: #f1f1f1;
  border-radius: 7px;
  width: 100%;
  height: 45px;
}

.sign-out-button:hover {
  border-color: #f1f1f1;
  background-color:#BD0000;
  color: #fff;
}

.sign-in-button{
  margin-left: 200px;
  margin-top: 150px;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #BD0000;
  border-style: solid;
  border-color: #BD0000;
  border-width: 2px;
  background-color: #f1f1f1;
  border-radius: 7px;
  width: 200px;
  height: 200px;
}

.sign-in-button:hover {
  border-color: #f1f1f1;
  background-color:#BD0000;
  color: #fff;
}